{% extends "layout.html" %}
{% block content %}
<div class="container mt-auto align-items-center">
    <form action="" method="POST">
        {{ form.hidden_tag() }}

       


        <div>
            {{ form.email.label }}
            <div class="{% if form.email.errors %}is-invalid{% endif %}">
                {{ form.email(class="form-control") }}
            </div>
            {% if form.email.errors %}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div>
            {{ form.password.label }}
            <div class="{% if form.password.errors %}is-invalid{% endif %}">
                {{ form.password(class="form-control") }}
            </div>
            {% if form.password.errors %}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

    <div class="border-top pt-3">
        <small class="text-muted">
            Already have an account?
            <a href="{{ url_for('login') }}">Sign in</a>
        </small>
    </div>
</div>
{% endblock content %}
